<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mushr_base_tx2">
	<xacro:macro name="mushr_base_tx2">

		<link name="base_footprint">
			<inertial>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<mass
					value="0.1" />
				<inertia
					ixx="1"
					ixy="0"
					ixz="0"
					iyy="1"
					iyz="0"
					izz="1" />
			</inertial>
		</link>

		<link name="base_link">
			<inertial>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<mass
					value="1.0" />
				<inertia
					ixx="1"
					ixy="0"
					ixz="0"
					iyy="1"
					iyz="0"
					izz="1" />
			</inertial>

			<visual>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<geometry>
					<mesh filename="package://mushr_description/meshes/base/mushr_base_tx2.dae" />
				</geometry>
			</visual>
			<collision>
				<origin
					xyz="0 0 0"
					rpy="0 0 0" />
				<geometry>
					<mesh filename="package://mushr_description/meshes/base/mushr_base_collision_tx2.dae" />
				</geometry>
			</collision>
		</link>

		<joint
			name="base_footprint_to_base_link"
			type="fixed">
			<origin
				xyz="0 0 0.094655"
				rpy="0 0 0" />
			<parent
				link="base_footprint" />
			<child
				link="base_link" />
		</joint>
	</xacro:macro>
</robot>
